
.btn-secondary {
	color: #fff;
	background-color: #FF9800;
	border-color: #FF9800;
	background: #FF9800;
}

.btn-secondary:hover {
	color: #fff;
	background-color: #FF9800;
	border-color: #FF9800;
}

.btn-circle {
	height: 40px;
  width: 45px;
	text-align: center;
	padding: 6px 0;
	line-height: 1.428571429;
	border-radius: 15px;
}

.btn-circle.active {
	background: #FF9800 !important;
	color: #FFF !important;
}

.modal-backdrop ~ .modal-backdrop
{
  z-index : 1051 ;
}
.modal-backdrop ~ .modal-backdrop ~ .modal-backdrop
{
  z-index : 1052 ;
}
.modal-backdrop ~ .modal-backdrop ~ .modal-backdrop ~ .modal-backdrop
{
  z-index : 1053 ;
}

#tbLista tbody tr:hover {
	cursor: pointer;
}

.btn-search {
	border-radius: 0;
  padding: 11px;
}
